<div class="container">
  <div class="row">
    <div class="col">1列</div>
    <div class="col">2列</div>
    <div class="col h1 bg-primary">3列</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">1列</div>
    <div class="col">2列</div>
    <div class="col">
      <p class="h3">
        <span class="badge bg-light text-dark">text</span>
        <span class="badge bg-light text-dark">text2</span>
      </p>
    </div>
  </div>
</div>