<div class="container">
  <div class="row">
    <div class="col">1列</div>
    <div class="col">2列</div>
    <div class="col h1 bg-primary">3列</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">1列</div>
    <div class="col">2列</div>
    <div class="col">
      <p class="h3">
        <span class="badge bg-light text-dark">text</span>
        <span class="badge bg-light text-dark">text2</span>
      </p>
    </div>
  </div>
</div>

<%# 図表 %>

<figure class="figure">
  <%= image_tag 'kouyou.jpg', class: "figure-img img-fluid", alt: "図表コンテンツ内の画像"%>
  <figcaption class="figure-caption">画像のタイトル</figcaption>
</figure>

<%# ナビゲーション %>

<div class="container">
  <h3>右揃え</h3>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link active" href="#">アクティブ</a></li>
    <li class="nav-item"><a class="nav-link" href="#">リンク</a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#">無効</a></li>
  </ul>
</div>

